body {
  font-family: Arial, sans-serif;
  background-image: url('spaceTexture.jpg');
  margin: 0;
  padding: 0;
}

header {
  position: relative;
  background-color: rgba(0,0,0,0);
  color: white;
  padding: 10px 0;
  text-align: center;
  width: 100%;
}

h1 {
  position: relative;
  color: white;
  text-align: center;
  font-family: 'Silkscreen', sans-serif;
  font-weight: 400;
  font-size: 30px;
}

main {
  padding: 10%;
}

.garage-list {
  list-style-type:decimal-leading-zero;
  padding: 0;
}

.garage-list li {
  background-color:rgba(0,0,0,0.5);
  margin: 10px 0;
  padding: 15px;
  color: white;
  font-family: 'Silkscreen', sans-serif;
  font-size: 20px;
  margin-right:37%;
  margin-left:37%;
  width: 25%;
}

#close_div{
  position: relative;
  height: 25px;
  width: 25px;
  border-style: none;
  border-color: white;
  margin-left: 20%;
  margin-bottom: 50px;
}
p.closeX{
  font-size: 40px;
  font-family: 'Silkscreen', sans-serif;
  text-align: center;
  cursor: pointer;
}

