@font-face {
  font-family: 'terminal_grotesqueregular';
  src: url('terminal-grotesque-webfont.woff2') format('woff2'),
       url('terminal-grotesque-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}



canvas {
  position: fixed;
  top: 0;
  left:0;
}



h1 {
  position: relative;
  color: white;
  text-align: center;
  font-family: 'Silkscreen', sans-serif;
  font-size: 40px;
  font-weight: 400;
}


h2 {
  position: relative;
  color: white;
  text-align: left;
  font-family: 'Silkscreen', sans-serif;
  font-weight: 400;
  opacity: 1;
  font-size: 40px;

}

h3 {
  position: relative;
  color: white;
  text-align: left;
  font-family: 'Silkscreen', sans-serif;
  font-weight: 400;
  opacity: 1;
  font-size: 25px;
}


main{
  position: relative;
  width: 100%;
}



p{
  color: white;
  position: relative;
  text-align: left;
  font-family: 'terminal_grotesqueregular';
  font-size: 25px;
  margin-left: 30px;
}

p.menu{
  color: white;
  position: relative;
  text-align: center;
  font-family: "Silkscreen", sans-serif;
  font-size: 40px;
  cursor: pointer;
}

ul{
  list-style-type: none;
  text-align: center;
  width: 100%;
  padding: 0px;
}

li{
  display: inline;
  color: white;
  position: relative;
  text-align: center;
  font-family: "Silkscreen", sans-serif;
  font-size: 40px;
  cursor: pointer;
  margin-right: 1%;
  margin-left: 1%;
}

li:hover{
  color: gray;
  font-size: 35px;
}





.silkscreen-regular {
  font-family: "Silkscreen", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.silkscreen-bold {
  font-family: "Silkscreen", sans-serif;
  font-weight: 700;
  font-style: normal;
}




#info_div{
  position: relative;
  opacity: 1;
  width: 70%;
  margin-left: 15%;
  margin-right: 15%;
  display: none;
}


#close_div{
  position: relative;
  height: 25px;
  width: 25px;
  border-style: none;
  border-color: white;
}


div.text_div{
  background: rgba(20, 20, 20, 0.75);
  margin-top: 5%;
  padding-top: 0.5%;
  padding-bottom: 1%;
  padding-left: 2%;
  padding-right: 2%;
}

p.closeX{
  font-size: 35px;
  font-family: 'Silkscreen', sans-serif;
  text-align: center;
  cursor: pointer;
}
p.closeX:hover{
  color: gray;
  font-size: 30px;
}

.info{
  font-size: 35px;
  font-family: 'Silkscreen', sans-serif;
  text-align: center;

}



div.title{
  width: 100%;
}
  


