@font-face {
  font-family: 'terminal_grotesqueregular';
  src: url('terminal-grotesque-webfont.woff2') format('woff2'),
       url('terminal-grotesque-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

html{
  overflow: hidden;
}


canvas {
  position: fixed;
  top: 0;
  left:0;
}

h1 {
  position: relative;
  color: white;
  text-align: center;
  font-family: 'Silkscreen', sans-serif;
  font-size: 40px;
  font-weight: 400;
}


h2 {
  position: relative;
  color: white;
  text-align: left;
  font-family: 'Silkscreen', sans-serif;
  font-weight: 400;
  opacity: 1;
  font-size: 40px;
}

h3 {
  margin-top: 10%;
  margin-left: 25px;
  position: relative;
  color: white;
  text-align: left;
  font-family: 'Silkscreen', sans-serif;
  font-weight: 400;
  opacity: 1;
  font-size: 25px;
}

main{
  position: relative;
  width: 100%;
}

p{
  color: white;
  position: relative;
  text-align: left;
  font-family: 'terminal_grotesqueregular';
  font-size: 25px;
  margin-left: 30px;
}

/* TITLE */
div#title{
  position: fixed;
  width: 100vw;
  height: 7vh;
  top: 0vh;
  margin: 0px;
}
  


/* MENU */

div#menu{
  position: fixed;
  width: 100vw;
  top: 7vh;
}

p.menu{
  color: white;
  position: relative;
  text-align: center;
  font-family: "Silkscreen", sans-serif;
  font-size: 40px;
  cursor: pointer;
}

ul{
  list-style-type: none;
  text-align: center;
  width: 100%;
  padding: 0px;
}

li{
  display: inline;
  color: white;
  position: relative;
  text-align: center;
  font-family: "Silkscreen", sans-serif;
  font-size: 40px;
  cursor: pointer;
  margin-right: 1%;
  margin-left: 1%;
}

li:hover{
  color: gray;
  font-size: 39px;
}


/* CLOSE BUTTON */

div.button{
  position: relative;
  height: 25px;
  width: 25px;
  border-style: none;
  border-color: white;
}

p.closeX{
  font-size: 35px;
  font-family: 'Silkscreen', sans-serif;
  text-align: center;
  cursor: pointer;
}
p.closeX:hover{
  color: gray;
  font-size: 34px;
}


/* ABOUT SECTION */

section#about{
  position: fixed;
  width: 70vw;
  height: 70vh;
  margin-left: 15%;
  margin-right: 15%;
  display: block;
  overflow-y: scroll;
  backdrop-filter: blur(5px);
  top: 20vh;
}

div.text_div{
  position: relative;
  background: rgba(0, 0, 0, 0);
  margin-top: 5%;
  padding-top: 0.5%;
  padding-bottom: 1%;
  padding-left: 2%;
  padding-right: 2%;
}




/* PLANET LABELS */  

div.labelPlanet{
  position: fixed; 
  display: none;
  text-align: center;
  margin: 0px;
  padding: 0px;
  width: 20%;
}

p.labelPlanetText{
  text-align: center;
  margin: 0px;
  padding: 0px;
}


/* LIST OF THINGS */

section#listOfThingsSection{
  position: fixed;
  overflow-y: scroll;
  height: 70vh;
  width: 35vw;
  top: 20vh;
  right: 0vw;
  z-index: 100;
  backdrop-filter: blur(5px);
}

.garage-list {
  padding: 0;
  display: block;
}

.garage-list li {
  color: white;
  font-family: 'Silkscreen', sans-serif;
  font-size: 15px;
  cursor: auto;
  display: block;
  text-align: left;
  margin-left: 25px;
}


